// sidebar
//$menuText:#bfcbd9;
//$menuActiveText:#409EFF;
//$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951
//
//$menuBg:#304156;
//$menuHover:#263445;
//
//$subMenuBg:#1f2d3d;
//$subMenuHover:#001528;
//
$sideBarWidth: 210px;

$menuText:#1c1c1c; //菜单字体颜色
$menuActiveText: #5a7e67; //菜单字体选中颜色
$subMenuActiveText: #796767; //子菜单字体选中后主菜单颜色

$menuBg: #b4cbcb; //整体背景颜色
$menuHover:#c7c7c7; //菜单悬浮变色

$subMenuBg: #ecf6f6; //子整体背景颜色
$subMenuHover:#c7c7c7; //子菜单悬浮变色

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
